[2018-02-04 15:57] Hacksore opened #4 "Original cape dimensions won't load (22x17)"
Seems like only the new style capes are loading (64x32).  There are some needs to load a cape from Mojang where the cape size will not be converted to the new dimensions. Could we have maybe a config flag to ignore cape aspect ratio?

https://github.com/to2mbn/skinview3d/blob/master/src/viewer.js#L135``

[2018-02-04 15:58] Hacksore opened #5 "Update gh-pages"
Working on this now and am almost done. Do I have commit rights on this repo?

[2018-02-04 22:16] yushijinhun commented on #5
Thank you. I have added you as a collaborator. But commits to master should still go to pull requests. (It's important to do a code review.)

[2018-02-04 22:22] Hacksore commented on #5
@yushijinhun Cool thanks! I was still planning on submitting a pull request.

[2018-02-04 22:57] #5 closed

[2018-02-05 13:33] yushijinhun opened #7 "Add checks for typescript definitions"
Use tslint to check typescript definitions (in `types/`).

[2018-02-07 15:44] Hacksore opened #9 "npm watch command for local development"
Could we implement an npm script like this for real-time transpilation? This would also require an html file with the basic construct of the skin viewer.

Something like :
`npm run watch`

[code]

We can discuss this more detail and figure out what works best. Currently, I have a local branch and it's working well to play around with the animation system.

[2018-02-09 02:49] #4 closed

[2018-02-09 02:55] yushijinhun commented on #4
The cape aspect ratio cannot be ignored, as I'm using relative positions to bind textures. So I just copy the old cape (22x17) to a new canvas (64x32).

[2018-02-09 05:39] yushijinhun commented on #9
This is the very point I'm thinking about. We can put these test files (including htmls, skins, capes) in `/exmaples` or `/test` directory. But I have some questions:
 * Should them be published to the npm repository?
 * Will they be duplicated with the examples in `gh-pages` branch?
 * Will they bring any legal problems if we use copyrighted textures?

For the 3rd question, we can request the tex

[2018-02-09 06:45] g-plane commented on #9
How about using parcel?

[2018-02-09 09:19] #7 closed

[2018-02-09 13:45] Hacksore commented on #9
I like the idea of a /test or /examples folder in the master repo. We can exclude them from the npm module with a `.npmignore` file, right?

Currently, it sounds like they might just be duplicated into the master branch. We could also make some kind of build script like you mentioned for the gh-pages branch so we don't have to periodically update the codebase for that branch.

Probably not. We can

[2018-02-09 14:31] yushijinhun commented on #9
I agree with you. Some textures are really too hard to find, e.g. HD capes, HD Alex skins and capes with elytra. However, they are needed for testing, In this case, we can only draw them on ourselves.

But on the other hand, not only are these textures for testing, but also give people a first impression, especially to those who are hesitating about which library to use. So a nice first glance is

[2018-02-12 07:05] yushijinhun commented on #9
Implemented in #14.

[2018-02-12 07:14] yushijinhun commented on #9
Reopen this issue to track further works.

- [ ] UI rework.
      See https://github.com/to2mbn/skinview3d/pull/13#pullrequestreview-95665711.
- [ ] Request permissions from texture authors, drop unauthorized textures.
      The textures we are permitted to use are here: [`yushijinhun:example-texture`](https://github.com/yushijinhun/skinview3d/tree/example-texture/docs/examples/textures)

[2018-02-26 17:23] Hacksore opened #15 "non-alpha skins hat layer"
There needs to be a check for the hat layer before it's applied. Otherwise, it will draw the hat layer when we know that the skin did not intend for that.

![Issue Example](https://i.imgur.com/y6186vG.png)

[2018-02-26 19:37] Hacksore opened #16 "missing method in interface"
When using the module from npm I ran into the .add method not being found on IAnimation. Although this is not breaking anything in the codebase I do receive typescript errors as the method can't be found.

![Issue](https://i.imgur.com/VdZuv8E.png)

[code]
https://github.com/to2mbn/skinview3d/blob/master/types/animation.d.ts#L4

Let me know what the issue is here or if I'm doing something wrong. Fo

[2018-02-27 02:48] g-plane commented on #16
Can you let me know what you constructed in `this.skinViewer.animation = new skinvie...`?

[2018-02-27 02:58] Hacksore commented on #16
@g-plane I have this.

[code]

[2018-02-27 03:10] g-plane commented on #16
It is really a problem. However, adding `add` method to `IAnimation` may not be a good solution.

[2018-02-27 03:19] g-plane commented on #16
Temporary solution:
![image](https://user-images.githubusercontent.com/17216317/36708813-e2bd4132-1baf-11e8-9de3-9c8e245a6660.png)

[2018-02-27 17:45] Hacksore commented on #16
@g-plane Alright I'll try this when I get home today. Any idea on what the permanent solution to the problem is?

[2018-02-28 03:20] g-plane commented on #16
It seems it is hard to solve this problem by modifying type declarations files.

For example, in TypeScript:
We declare a variable whose type is `Node`, and as we know `HTMLElement` inherits from `Node`.
![image](https://user-images.githubusercontent.com/17216317/36767456-8602f394-1c75-11e8-8bda-c270d0bd73bc.png)

No compile errors here. However, TypeScript still regards `something` is `Node`:
![i

[2018-03-02 21:05] Hacksore opened #17 "crossOrigin = """
Any reason for this?
[code]
https://github.com/to2mbn/skinview3d/blob/master/src/viewer.js#L97

[2018-03-03 09:37] yushijinhun commented on #17
This comes from [earthiverse's original code](https://github.com/earthiverse/3D-Minecraft-Skin-Viewer/blob/master/index.html#L171). I don't know the reason either.

[2018-03-03 13:05] yushijinhun commented on #16
I don't think it's a problem.

The type of property `SkinViewer.animation` is `Animation`. According to [Liskov substitution principle](https://en.wikipedia.org/wiki/Liskov_substitution_principle), as `CompositeAnimation` is a subtype of `Animation`, you can set `SkinViewer.animation` to it directly.

But when you obtain the value of `SkinViewer.animation`, what you get is definitely an `Animation

[2018-03-03 13:46] Hacksore commented on #16
I think this is solely a bug with the typings file and the npm module. As of now, I have the skinview3d src in my angular project and I no longer receive the missing method error.

![screenshot](https://i.imgur.com/hMDtBkL.png)

[2018-03-03 13:47] Hacksore commented on #17
@yushijinhun I think we change it to the following for CORS requests.

[code]

[2018-03-03 14:15] #17 closed

[2018-03-05 15:09] g-plane commented on #16
@Hacksore I have let TypeScript compiler to generate typings files. TypeScript still throw error. In other words, the typings files should be OK.

[2018-03-05 15:42] Hacksore commented on #16
@g-plane I'd say we can close this issue then.

[2018-03-06 10:23] #16 closed

[2018-04-14 16:09] TheAndrey opened #19 "Hat render bug"
Hat layer overlaps cape.
![default](https://user-images.githubusercontent.com/6772452/38770112-e97acc10-400d-11e8-8c18-4391c0e993eb.png)

https://github.com/to2mbn/skinview3d/blob/master/src/model.js#L69
I've changed `renderOrder` to **1**, thats sloves a problem.

**Also, how to remove cape in runtime?**
I have trying set `capeUrl` to **null** or **false**, but script translates these to string a

[2018-04-14 16:13] yushijinhun commented on #19
To hide the cape, use:
[code]

[2018-04-15 02:49] yushijinhun commented on #19
Could you provide your textures? I cannot reproduce it on my own.

[2018-04-28 14:54] skmedix opened #20 "Elytra Support"
As in https://github.com/to2mbn/skinview3d/issues/20#issuecomment-385192936

[2018-04-28 14:59] Hacksore commented on #20
@skmedix So support for the gilder?

From the wiki:

[2018-04-28 17:35] skmedix commented on #20
Yes. Since 1.9 cape image contains a "skin" for the elytra.
Example:
![Cape with elytra](https://user-images.githubusercontent.com/3246162/39399266-1778431e-4b1b-11e8-85ee-11e149d1f030.png)

In a 3D model it looks like:
![image](https://user-images.githubusercontent.com/3246162/39399271-314b3882-4b1b-11e8-86b1-255fbb103a04.png)

[2018-05-18 12:58] Hacksore opened #22 "Head overlay render issue"
The hat overlay area seems have rendering issues when viewed in certain angles. As you can see when my headphones render the underside of the headphone is see through. Some type of blending or culling issue possibly?

![image](https://user-images.githubusercontent.com/996134/40235696-a5bb556c-5a70-11e8-9b9b-31fbed0297e4.png)

[2018-06-06 14:03] yushijinhun commented on #22
I cannot reproduce it. But if the surface where headphones are on is approximately perpendicular to the visual plane, there might be some accuracy problems.

[2018-06-06 14:08] yushijinhun commented on #15
Did you mean the checks here? https://github.com/Hacksore/skinpreview3d.js/blob/80832a17ac31e61939b546520fdf2e068f896f2c/js/skinpreview3d.js#L57

[2018-06-06 17:50] yushijinhun commented on #22
I think this might have been fixed in 49011214969d958e8dd60221c260a82bd9110c2e. Could you test it?

[2018-06-11 02:39] Hacksore commented on #15
@yushijinhun I believe so.

[2018-06-23 13:27] yushijinhun opened #23 "Discussion on the ownership transfer of the repository"
The current owner of the repository is @to2mbn, an organization created by @Darkyoooooo and me years ago. The organization was aimed to gather Minecraft lovers in China and build things together.

But in fact it didn't go this way. I have discussed with @Darkyoooooo recently, and we are going to dissolve this organization. So we have to find a successor owner.

Currently, I feel like transfering t

[2018-06-23 13:29] yushijinhun commented on #23
@Hacksore , what do you think of this?

[2018-06-23 14:44] Hacksore commented on #23
I have no issues with this.

[2018-07-01 02:13] #23 closed

[2018-07-05 14:31] yushijinhun commented on #22
On f91db772b5a0489323d7fc53347ad4adb7a9aa3e:
![default](https://user-images.githubusercontent.com/8373027/42329209-bc9bbcd8-80a2-11e8-8c10-11d8c1e58e86.png)

On 3b23444fa1112fbef6e76f4a5e8506e790422e93:
![default](https://user-images.githubusercontent.com/8373027/42329365-18785674-80a3-11e8-8fed-82a4c7925e61.png)

So it's fixed in #18.

[2018-07-05 14:31] #22 closed

[2018-07-05 14:36] yushijinhun commented on #19
@TheAndrey ping?

[2018-07-05 15:13] #15 closed

[2018-07-12 17:09] yushijinhun commented on #19
Closing due to no activity.

[2018-07-12 17:09] #19 closed

[2018-07-16 12:36] Hacksore opened #29 "Move to Typescript"
I would love to see this project completely written in typescript. If I have time I can start working on a typescript branch.

It would make things a lot nicer not having to depend on type definition files. Furthermore, since I'm always writing typescript now it just feels more natural.

What is everyone else's thoughts on this?

[2018-07-16 12:53] yushijinhun commented on #29
That's great.

Since typescript is compatible with javascript, I think you don't need to start from scratch. You can first delete these type definition files, then change the existent files from javascript to typescript step by step. (This is just my suggestion.)

@g-plane is good at typescript. If you have problems, let him and me know. I wish it will be a success.

[2018-07-16 15:49] Hacksore commented on #29
@yushijinhun

Let me see if we can get at least a working

[2018-07-17 00:05] g-plane commented on #29
@Hacksore If you are using Chrome or Firefox, I recommend you to install a browser extension called "refine-github" which brings a feature that move the "close" button to the left to prevent misoperation.

[2018-07-17 02:00] yushijinhun commented on #29
@Hacksore You can create a `typescript` branch. When the work is done, it will be merged into `master`.

[2018-07-17 19:00] Hacksore commented on #29
@g-plane I made a rough draft of the Typescript branch. Not sure how we implement all of the files being transpiled or if the work at this point.

Would you mind taking a look?

[2018-07-18 03:10] g-plane commented on #29
@Hacksore Why you commented out the tests?

[2018-07-21 01:30] g-plane commented on #29
In the `tsconfig.json`:
[code]

Then use `rollup-plugin-typescript` or `rollup-plugin-typescript2` to bundle it.

[2018-07-21 02:34] Hacksore commented on #29
@g-plane I got it working but need to see what happend to the arms xD

![image](https://user-images.githubusercontent.com/996134/43031299-9d7a05da-8c64-11e8-83f2-318ec0782385.png)

[2018-07-21 02:50] yushijinhun commented on #29
@Hacksore Just add this line back: https://github.com/bs-community/skinview3d/commit/a48f935f06f70717355b0b0f62d2cb684afe1ddd#diff-a6322b30cb17d35f81779ff7980ea4c3R352

[2018-07-21 03:14] Hacksore commented on #29
@yushijinhun It is but I might have made mistake elsewhere.

https://github.com/bs-community/skinview3d/commit/b2932c96bb68727e03f7b0075d7286891895308b

[2018-07-21 12:53] Hacksore commented on #29
@g-plane Can you help with fixing the unit tests on the typescript branch?

[2018-07-21 13:01] g-plane commented on #29
Sure. Any problems?

[2018-07-21 13:04] g-plane commented on #29
@Hacksore And, some compiler options in tsconfig.json are redundant.

[2018-07-21 14:41] Hacksore commented on #29
@g-plane feel free to make any suggestions on the tsconfig options.

[2018-07-21 15:17] g-plane commented on #29
I may do changes and push to this branch directly tomorrow.

[2018-07-23 10:10] g-plane commented on #29
Sorry for delay! I have fixed the tests.

[2018-07-29 10:35] g-plane commented on #29
@Hacksore Any updates?

[2018-07-29 11:16] Hacksore commented on #29
@g-plane Have not had time to work on this, let me see if I can work on it today.

[2018-07-29 14:54] Hacksore commented on #29
I've pushed all my changes for now. Really we need to go through the source and do some refactoring for a lot of the class fields. In my first pass through almost all of them are public. As well as move the function from the util file into a proper class definition.

I'm on slack so that's probably the best way to collab on this.

[2018-08-01 10:09] g-plane opened #30 "Migrate to using Yarn"
[Yarn](https://yarnpkg.com) is another JavaScript package manager which is faster than npm.
I'd like to migrate to Yarn but I still want to listen to any opinion, if someone disagree.

If everyone agree, this should be done after `typescript` branch merged.

[2018-08-01 10:19] printempw commented on #30
Is the reason for migration only the performance? I think there should be no more a pronounced performance difference between npm and yarn now.

[2018-08-01 10:39] g-plane commented on #30
Not performance.

[2018-08-01 10:43] yushijinhun commented on #30
I have no issues with this.

[2018-08-01 10:47] printempw commented on #30
I have no objection.

[2018-08-01 12:27] Hacksore commented on #30
If we move to yarn is npm completely removed too? I've not used yarn but from what I know it's features rival that of npm.

Does the npm module remain published as well as publishing to yarn?

[2018-08-01 12:36] g-plane commented on #30
Yarn is just a package manager. If we publish package via Yarn, it will still be published to the npm registry.

[2018-08-23 08:37] yushijinhun commented on #29
Done in #31.

[2018-08-23 08:37] #29 closed

[2018-08-23 08:37] #9 closed

[2018-08-23 08:40] yushijinhun commented on #20
I'm not good at 3D modelling. So, this feature is a bit difficult for me to implement.

[2018-09-22 15:42] yushijinhun commented on #20
I'm trying to implement this feature (see [`elytra` branch](https://github.com/bs-community/skinview3d/tree/elytra)).

![default](https://user-images.githubusercontent.com/8373027/45918952-1845e700-bec1-11e8-910b-85d65a8330fa.png)

[2018-10-10 03:19] Hacksore opened #32 "Simplified programmatic access to body parts"
This was a question asked by @johnrippus over on gitter.

Right now we don't have a way to access body part references easily. I'm working on a branch for this so that it would be possible to get the reference to a part via a lookup method.

However, this does require some more boilerplate code to manage all the parts.

![image](https://user-images.githubusercontent.com/996134/46711137-a1268780-cc

[2018-10-10 03:50] g-plane commented on #32
What should it return?

[2018-10-10 09:32] yushijinhun commented on #32
https://github.com/bs-community/skinview3d/blob/master/src/model.ts#L42-L47

Get the head part using `skinViewer.playerObject.skin.head`

[2018-10-10 15:41] yushijinhun commented on #32
What about adding a property to the body parts, eg. `skinViewer.playerObject.skin.rightArm.helmLayer`?

We can create a class named `BodyPart`, and let it inherit from `THREE.Group`, putting `baseLayer` and `helmLayer` properties in it.

[2018-10-10 21:20] Hacksore commented on #32
Sounds like a good idea.

[2018-10-20 14:34] yushijinhun commented on #32
Implemented in #33

[2018-10-20 14:34] #32 closed

[2019-01-25 14:12] Hacksore opened #35 "Automation of code updating on skinview3d.com"
I'd like to create a script to update the s3 bucket code for this demo on https://skinview3d.com/

Not sure where I should run this script but it should run at least once a week to check for newer versions of the skiview3d code. If it finds a new version it will download the source and compile then upload to s3.

[2019-01-26 02:12] yushijinhun commented on #35
Since we don't release very often, running the script manually is enough, I think.

[2019-01-26 16:02] Hacksore commented on #35
I'm looking at moving web hosting to firebase so that maybe it's easier to just run the cli command `npm run deploy`. It could run a shell script similar to that of the gh-pages one.

[2019-01-26 16:56] Hacksore commented on #35
At some point https://skinview3d.com should start working.

Here is the app URL https://skinview-ad73a.firebaseapp.com/

Marking this issue closed as now I can invoke `npm run deploy` and it will do all the steps to get the latest code.

[2019-01-26 16:56] #35 closed

[2019-09-11 13:01] Hacksore opened #36 "Add GitHub CI badge"
Since @g-plane removed Travis and added the GitHub pipeline we need to update readme to include the new badge.

https://github.com/bs-community/skinview3d/runs/218531219

[2019-09-11 13:09] g-plane commented on #36
You're right.

[2019-09-11 13:13] #36 closed

[2019-12-21 20:46] cheel1337 opened #37 "cors error"
Code:

[code]

Skin.tsx:
[code]

Getting this error:
[code]

[2019-12-21 21:25] cheel1337 commented on #37
nevermind, i fixed it by adding /skin route on my api server that returns result from cdn.miforix.site

[2019-12-21 21:25] #37 closed

[2019-12-21 21:55] Hacksore commented on #37
@cheel1337 Did not see an issue when I tried it with [react-skinview3d](https://github.com/Hacksore/react-skinview3d)

![image](https://user-images.githubusercontent.com/996134/71314212-be0c3c80-2409-11ea-9435-373fddc5e5f8.png)

Since the resource has `*` for `access-control-allow-origin` header.
![image](https://user-images.githubusercontent.com/996134/71314230-12afb780-240a-11ea-8665-96a3b6535a5

[2019-12-21 22:01] Hacksore opened #38 "Drop the alpha tag suffix in version"
@yushijinhun @g-plane

I think it's safe to drop the alpha suffix and publish `1.2.0`, thoughts?

[2019-12-22 00:27] g-plane commented on #38
I don't mind it.

[2019-12-22 12:47] yushijinhun commented on #38
@Hacksore Take a look at [animation-refactor](https://github.com/bs-community/skinview3d/tree/animation-refactor) branch. I'm wanting these features in next release, but haven't thoroughly tested them yet.

[2019-12-25 09:35] ShirasawaSama opened #40 "Package size is too large"
At present, this module directly imports `Three.js`:

[code]

So the bundle files contains about **500kb** of `Three.js` codes. It is too huge.

So you can reduce the bundling size by this ways:

- Tree Shaking.
- Import `Three.js` by this way:

[code]

-----

当前模块由于直接引入了 `Three.js` , 导致打包大小贼大 (大约 **500kb** ):

[code]

这些是一些解决方法:

- 使用 `Tree Shaking` (首先得改文件里导入 `Three.js` 的写法, 最好用 [bili](https://n

[2019-12-25 09:43] g-plane commented on #40
我们已经有在使用 Rollup。后面一种写法确实可以做到 tree shaking，但还需要确定这样能不能得到Three.js 的 TypeScript 类型定义。

[2019-12-25 09:43] yushijinhun commented on #40
You should nkt

[2019-12-25 09:52] ShirasawaSama commented on #40
@g-plane 尝试了一下, 是可以的:

tsconfig.json:

[code]

a.ts:

[code]

[2019-12-25 09:53] g-plane commented on #40
感谢帮忙测试。

[2019-12-25 09:55] ShirasawaSama commented on #40
我可以提交pr, 但是我仍旧希望提供一个预先打包好threejs的版本(

[2019-12-25 10:26] g-plane commented on #40
「预先打包好 threejs 的版本」？这是指？

[2019-12-25 10:35] ShirasawaSama commented on #40
好像原本就有了(umd)

就是我的程序中不方便使用 tree shaking, 然后就是预先把threejs也打包进这个模块的发布版本中, 就不需要另外打包threejs了, 其实就是 TreeShaking 后的 `Skinview3d+Threejs`

[2019-12-25 10:36] g-plane commented on #40
就是包含一个不完整的 Three.js，是吗？

[2019-12-25 11:02] ShirasawaSama commented on #40
是的

[2019-12-26 03:10] g-plane commented on #40
我感觉 Rollup 已经进行过 tree shaking，因为 Three.js 的完整压缩 build 有 500 多 KB，而 skinview3d 的压缩 build 只有 24KB。

[2019-12-26 05:51] ShirasawaSama commented on #40
600kb->398kb

[2019-12-26 05:53] g-plane commented on #40
这个是？

[2019-12-26 09:04] ShirasawaSama commented on #40
修改了引入方式之后打包的

[2019-12-26 09:07] g-plane commented on #40
但是现在在没有做任何改动的情况下，也才 57.6KB，而压缩后更只有 24KB。

[2019-12-26 09:09] ShirasawaSama commented on #40
打包了threejs之后的uglify之后的大小

[2019-12-26 09:10] g-plane commented on #40
已经包含了 Three.js 了，skinview3d 本身是很小的。

[2019-12-26 09:12] g-plane commented on #40
稍等……

[2019-12-26 11:12] ShirasawaSama opened #42 "Feat: pause rendering?"
I want to pause rendering, but not `dispose`.

e.g.

[code]

But now, when I call `viewer.dispose()`, the instance is destroyed.

When I call `viewer.disposed = false`, it can't be restored from pausing.

I want to interrupt the execution of `window.requestAnimationFrame()` , but also can be restored.

Can you expose the `draw` method?

These two methods can also be named `pauseDraw` and `draw`.

[2019-12-26 12:36] g-plane commented on #42
Can you tell us detail of `pauseRender`?

[2019-12-26 13:03] ShirasawaSama commented on #42
把 `viewer.ts` 里构造函数的 `draw` 函数提取出来, 可以让开发者中断渲染, 因为如果容器被遮挡了还是一直在调用渲染函数

[2019-12-30 15:59] #38 closed

[2020-01-01 08:40] #42 closed

[2020-01-01 08:42] yushijinhun commented on #40
Reopened due to https://github.com/bs-community/skinview3d/pull/41#issuecomment-570034308

[2020-01-01 09:47] yushijinhun commented on #40
Other users of three.js are also facing this problem. Take a look at https://github.com/mozilla/Spoke/issues/747.

[2020-01-05 19:49] cheel1337 opened #44 "[feature] render in 2d"
Hey. I want to show only the head of the skin. I made this code
[code]

But it just hides other parts of the skin and the head does not get the entire area of the canvas.
I get this:
![Снимок экрана 2020-01-05 в 22 29 51](https://user-images.githubusercontent.com/42740773/71785092-9e316700-300c-11ea-9809-68f297bb6aaa.png)
![Снимок экрана 2020-01-05 в 22 30 36](https://user-images.githubusercontent

[2020-01-05 22:23] Hacksore commented on #44
@cheel1337 I think this is out of scope for this library IMO. My old lib is unmainted at this point so I would not recommend using it [skinpreview.js](https://github.com/Hacksore/skinpreview.js).

@g-plane @yushijinhun Do you want to add some feedback here as well? I'm not saying we can't support this feature as it could have some value. However, I think all the overhead that three.js adds might m

[2020-01-06 09:42] yushijinhun commented on #44
I can create a separate library for this, and I would like to name it 'skinview2d'. How do you think guys?

[2020-01-06 12:18] cheel1337 commented on #44
@yushijinhun It would be cool!

[2020-01-07 05:22] yushijinhun commented on #44
@Hacksore I think some code can be shared between the two projects(eg. [src/utils.ts](https://github.com/bs-community/skinview3d/blob/master/src/utils.ts)). How do you think we should deal with them? I have come up with some solutions:
1. Release them in another npm package(eg. `skin-utils`), and use it as a dependency. But this would add to the complexity.
2. Put them in another repository, and u

[2020-01-07 05:26] g-plane commented on #44
Use lerna.

[2020-01-08 13:58] Hacksore commented on #44
I say for now we just keep the code in the new `skinview2d` project to lower complexity.

If we do see a need for sharing some code we can surely look at creating `skin-utils` as they could be useful in a generic sense for any project working with skins.

[2020-01-25 11:53] yushijinhun commented on #40
@ShirasawaSama I'm working on a rollup plugin [three-minifier](https://github.com/yushijinhun/three-minifier). Currently, the bundle (skinview3d & three.js) it produces is about 377KB.

[2020-01-26 12:57] yushijinhun commented on #40
I've just released [three-minifier v0.1.1](https://twitter.com/yushijinhun/status/1221415525139378176). I think it is a good solution to this problem, so I'm going to close this issue.

[2020-01-26 12:57] #40 closed

[2020-01-26 14:09] yushijinhun commented on #44
I've created the repository [bs-community/skinview2d](https://github.com/bs-community/skinview2d).

[2020-01-31 14:13] Hacksore commented on #44
I'm still trying to find time to commit to [bs-community/skinview2d](https://github.com/bs-community/skinview2d) but no timelines as of now.

Help from anyone is welcomed.

[2020-03-13 03:01] jinzhijie commented on #20
这看起来已经很久没有更新了，希望能快点实现此功能
This looks like it hasn’t been updated for a long time, I hope to implement this feature soon.

[2020-03-13 14:31] yushijinhun commented on #20
Sorry for that. I almost have no idea how to implement it, since I'm not familiar with modeling and animating. Also, in months I will graduate from senior high, so I don't have enough time currently.

I have tagged this issue as "help wanted", and I would appreciate it if anyone could help.

[2020-03-14 04:13] Hacksore opened #48 "Setting capeUrl to null should hide it"
I ran into this issue and it's also noted here. When we set the cape to null it should automatically hide the cape, then when setting it again it will unhide it.

https://github.com/bs-community/skinview3d/blob/b3858b598f2085d344a5015a08eb4a9ee3474d89/js/example.js#L58-L64

[2020-03-25 08:59] MrZillaGold opened #49 "Add optifine capes support"
When using optifine capes we get the error: Bad cape size: 92x44.
Why not automatically resize the cape to the correct one?

http://s.optifine.net/capes/Twennnn.png

![image](https://user-images.githubusercontent.com/42776347/77519051-8c07ec00-6eca-11ea-92fd-d0a5ea33b628.png)

[2020-03-25 09:17] adamandworking opened #50 "I cannot run the project"
Would you please tell me the steps to run this project please?
I have done "npm install" and then I run "npm run build". Some errors happen.

I need some help ;(

[2020-03-25 09:19] g-plane commented on #50
Do you want to contribute to this project or just want to use this library?

[2020-03-25 09:23] adamandworking commented on #50
I just want to use this library. As I am working on a stylegan2 project on Minecraft Skin, I want to use this library to save the 3D view of tons of 2D png images. I would add some code in it if needed. E.g. Add snapshot function in it.

[2020-03-25 09:43] MrZillaGold opened #51 "Incorrect skin overlay on the model"
When applying a normal skin to a slim model, incorrect overlay of pixels on the hands occurs.
[code]
![image](https://user-images.githubusercontent.com/42776347/77523019-d7bd9400-6ed0-11ea-89f9-b0847e8fcd09.png)

Skin:
![image](https://user-images.githubusercontent.com/42776347/77522779-84e3dc80-6ed0-11ea-981e-3abeaaf4e5d4.png)

[2020-03-25 10:32] g-plane commented on #50
You can install this library from npm directly.

[2020-03-25 12:23] Hacksore commented on #50
So as of now node >= 12 is required to build this project due to @yushijinhun/three-minifier-rollup

[2020-03-25 21:39] Hacksore commented on #50
@adamandworking As @g-plane mentioned you can just install via `npm` is it's already built for you.

However, if you do want to build yourself to add features then please use node version >= 12

[2020-03-25 21:39] #50 closed

[2020-03-26 00:40] Hacksore commented on #44
We can take up any further discussion regarding 2d in [bs-community/skinview2d](https://github.com/bs-community/skinview2d).

[2020-03-26 00:40] #44 closed

[2020-03-26 04:47] yushijinhun commented on #51
This is the expected behavior which is the same in the game. You cannot apply a normal skin to a slim model, and vice versa.

[2020-03-26 05:05] MrZillaGold commented on #51
Indeed, this is normal behavior, these pixels are applied to the second layer. Sorry for the worry.

[2020-03-26 05:05] #51 closed

[2020-03-26 08:58] #48 closed

[2020-03-26 09:06] yushijinhun commented on #48
We are going to redesign SkinViewer class (https://github.com/bs-community/skinview-utils/issues/3), and `skinUrl`/`capeUrl` will no longer exist. Will you face similar problems after that? @Hacksore

[2020-04-29 20:59] NitroCipher opened #52 "Render image on nodejs server"
I am working on a project, and would like to be able to send rendered images from this to clients.

I have tried to modify it to use three-software-renderer, rather than WebGLRenderer, and I cant see to get that to work.

Do you have any example code of this project being used server-side?

[2020-04-29 23:47] g-plane commented on #52
Hello, this library is only for client-side used.

[2020-04-30 00:17] Hacksore commented on #52
You could definitely use something like [puppeteer](https://github.com/puppeteer/puppeteer) to render via a browser on the server-side and capture images.

[2020-05-04 15:33] #52 closed

[2020-05-04 15:43] yushijinhun commented on #16
Note that this issue was solved in https://github.com/bs-community/skinview3d/commit/127d2ee7a387782eb935c54ad4489b7019fcea78.

[2020-05-08 16:36] s4mukka opened #53 "Look Mouse Support"
I needed a function where the skin would look at the mouse. I tried to do this by editing the code, but I couldn't :(

[2020-05-08 17:53] Hacksore commented on #53
@s4mukka Not sure if we plan to add this as a feature but here is an example.

https://codesandbox.io/s/eloquent-cache-9lpmy?file=/src/index.js

[2020-05-09 20:00] #53 closed

[2020-05-12 18:28] linkinkov opened #54 "HD cape"
Hello, do you have plans about support hd capes?

[2020-05-13 15:55] yushijinhun commented on #54
HD capes are already supported. If you run into any problems with HD capes, please provide more details. Thanks.

[2020-05-13 15:55] #54 closed

[2020-05-21 04:51] Goodlyay opened #55 "Arm pivot is too high compared to in-game Minecraft model"
It should be about 2 "pixels" lower.

![image](https://user-images.githubusercontent.com/7892772/82524536-11330a00-9ae4-11ea-8124-525d9b69a2b2.png)

[2020-05-24 04:06] #55 closed

[2020-07-08 01:44] JuanFHaretche opened #57 "The example is giving me the following error."
![image](https://user-images.githubusercontent.com/63614406/86864303-5070e680-c0a3-11ea-9316-b5f68644c119.png)
![image](https://user-images.githubusercontent.com/63614406/86864582-d3923c80-c0a3-11ea-8a6c-08e1be43fa2c.png)

[2020-07-08 02:12] g-plane commented on #57
It seems that you haven't run `npm i`.

[2020-07-08 02:43] JuanFHaretche commented on #57
Thanks! I thought I already had installed it because I have node.js and its says that node comes with npm.

[2020-07-08 02:43] #57 closed

[2020-07-08 18:56] Hacksore opened #58 "Add dist code to repo"
Seems this is a common practice among other big repositories. More so in order to support this project on cdnjs I think we will need to do this.

See the related PR to track this effort on the cdnjs side https://github.com/cdnjs/packages/pull/334

[2020-07-08 23:06] g-plane commented on #58
I think adding them will mess up the repository.

[2020-07-09 00:37] Hacksore commented on #58
@g-plane If you look at three.js they do it so not sure why it would be an issue for us?

https://github.com/mrdoob/three.js/tree/dev/build

[2020-07-09 04:28] yushijinhun commented on #58
@Hacksore I don't think three.js has done it right.

If you want to publish this repo to cdnjs, what about using [NPM-based auto-update](https://github.com/cdnjs/packages/blob/master/CONTRIBUTING.md#npm-based-auto-update-example)? Build outputs are included in npm package.

[2020-07-09 04:45] Hacksore commented on #58
@yushijinhun fair point but looks like we are not popular enough for this 😐.

![image](https://user-images.githubusercontent.com/996134/86997997-0bb58000-c175-11ea-94b6-e2f4e6dbb4e7.png)

https://github.com/cdnjs/packages/runs/852594368

[2020-07-09 09:46] yushijinhun commented on #58
@Hacksore [unpkg.com](https://unpkg.com/) is a good alternative. Both cdnjs and unpkg are hosted on Cloudflare, so there shouldn't be much difference in network speed.

[2020-07-09 13:06] Hacksore commented on #58
@yushijinhun Oh cool. This looks like less work too.

Latest version:
https://unpkg.com/skinview3d/bundles/skinview3d.bundle.js

Specific version:
https://unpkg.com/skinview3d@2.0.0-alpha.5/bundles/skinview3d.bundle.js

[2020-07-09 13:06] #58 closed

[2020-07-13 16:45] james090500 commented on #20
I have a somewhat working fork which supports deadmau5 ears, elytras and animated capes.

https://github.com/james090500/skinview3d

I have had to hack some stuff together to override the default SkinUtil components.

[2020-07-13 17:47] yushijinhun commented on #20
@james090500 Great job! I'm hoping to have your code merged.

[2020-07-13 18:07] james090500 commented on #20
Feel free to use as much as you like, you'll need to replace some bits into SkinUtils and possibly improve my awful type script.

[2020-07-13 20:47] Hacksore opened #61 "Deploy static storybook to gh-pages"
We could use `storybook-deployer` to deploy a static version to gh-pages.

https://github.com/storybookjs/storybook-deployer

[2020-07-15 05:41] yushijinhun commented on #61
Before using storybook in gh-pages, make sure we have migrated all the features of the existing demo.

[2020-07-28 22:17] thallysbr opened #63 "Not working in some browsers"
Browsers that i tested and it's not working:

- Edge

Error:
SCRIPT5009: SCRIPT5009: 'ImageBitmap' is not defined

[2020-07-28 22:27] Hacksore commented on #63
@thallysbr can you let us know what version of Edge? I'm guessing the non-chromium based is affected as I tried the latest Edge and didn't see any issue.

[2020-07-29 04:35] Gummybearman06 opened #64 "How do i put it in a website"
i'm new to html, and i have no idea how to put this in a website. Do i just paste in the whole folder? I dont really know what else i would do...

[2020-07-29 23:22] Hacksore commented on #64
@Gummybearman06 Please look at this example it should help you.

https://codesandbox.io/s/skinview3d-example-i6fuk?file=/index.html

[2020-07-29 23:22] #64 closed

[2020-08-03 01:53] Gummybearman06 commented on #64
I don't understand, there are no instructions as to what to do

[2020-08-04 03:34] Hacksore opened #65 "preserve drawing buffer"
When creating the instance of `WebGLRenderer` we should pass in `preserveDrawingBuffer` set to true which will make taking image captures of the canvas easier as well as rendering to a different canvas.

[2020-08-09 02:20] MrZillaGold opened #66 "Incorrect processing of semi-transparent layer"
When using a skin with translucent parts on layer 2, on the model they look completely transparent

![image](https://user-images.githubusercontent.com/42776347/89723465-2449dc00-da3a-11ea-95d9-b7aedd292b7d.png)
![image](https://user-images.githubusercontent.com/42776347/89723487-928e9e80-da3a-11ea-8575-1bff1f7dfe71.png)

Skin: http://textures.minecraft.net/texture/f7058bfcbde8f50af98f7ca7ed02c6f72

[2020-08-14 13:08] #65 closed

[2020-08-15 13:57] yushijinhun commented on #66
This bug seems to be introduced in https://github.com/bs-community/skinview3d/commit/49011214969d958e8dd60221c260a82bd9110c2e .

[2020-08-17 12:36] Hacksore commented on #61
Closing this until we determine if we are keeping storybook.

[2020-08-17 12:36] #61 closed

[2020-08-17 12:41] Hacksore commented on #63
I looked for references and could just be an outdated version of three.js.

https://github.com/mrdoob/three.js/issues/16274

[2020-08-18 03:07] yushijinhun commented on #63
[Browser support of ImageBitmap API](https://caniuse.com/#feat=mdn-api_imagebitmap)

https://github.com/bs-community/skinview-utils/blob/9b7f1d5cd5968f4d828f5aba30ee16be8f539034/src/viewer-mixins.ts#L15-L17

In browsers that do not support `ImageBitmap`, evaluating `x instanceof ImageBitmap` will result in an error.

[2020-08-18 03:12] #63 closed

[2020-08-18 07:37] #66 closed

[2020-08-18 07:41] yushijinhun commented on #66
Setting alphaTest to a very small positive number seems to solve the problem magically. (I don't know why)

@MrZillaGold Could you please verify the fix? Latest build has been deployed to https://bs-community.github.io/skinview3d/

[2020-08-18 07:52] MrZillaGold commented on #66
Yes it is now fixed, thanks

[2020-08-22 11:13] skmedix opened #71 "Anti-aliasing"
Currently models are **very** sharp, is it possible to add some kind of AA or SSAA?

[2020-08-23 17:19] #71 closed

[2020-08-23 17:26] yushijinhun commented on #71
FXAA support is added. See [README § Anti-aliasing](https://github.com/bs-community/skinview3d#anti-aliasing) for details.

[2020-08-27 06:35] MrZillaGold opened #72 "Optimizing WebGL contexts"
At the moment, when using a large number of skinview3d instances, we will get the error: `Too many active WebGL contexts. Oldest context will be lost`.
![image](https://user-images.githubusercontent.com/42776347/91400587-438e9900-e883-11ea-8e01-c7b0053cddbf.png)

Is there a way to optimize the WebGL contexts on the library side?

[2020-08-27 13:23] yushijinhun commented on #72
Why do you need so many skinview3d instances? Is it possible to reuse them?

[2020-08-27 19:39] MrZillaGold commented on #72
I'm doing something like a gallery of skins, the only solution to which I have come to use images instead of skinview3d, and already by clicking on a skin it will be possible to examine it in detail with skinview3d.

Although I partly no longer depend on it, sooner or later others will need it.

[2020-09-01 13:23] Hacksore commented on #72
Using this library for a gallery just doesn't seem practical due to the browser limiting the max WebGL contexts. The best approach would be using a 2d library (https://github.com/bs-community/skinview2d needs some help) then when clicking/hovering it you could swap it out for a 3d renderer.

Attempt to load 20 renderers: https://codesandbox.io/s/skinview3d-example-many-renderers-locij?file=/src/in

[2020-09-01 13:23] #72 closed

[2020-09-06 10:45] yushijinhun commented on #72
@MrZillaGold  If you need static skin previews (without animation or interaction), it is unnecessary to create multiple skinview3d instances. You can render the player to a canvas which is not attached to the document, and then take a screenshot using `.toDataURL()`.

But currently it's a bit inconvenient because skinview3d automatically attaches the canvas to the document. This problem will be so

[2020-09-09 17:47] yushijinhun commented on #72
I added a new example to show how to generate static previews (by taking screenshots). [source](https://github.com/bs-community/skinview3d/blob/master/examples/offscreen-render.html); [demo](https://bs-community.github.io/skinview3d/offscreen-render.html);

[2020-09-26 19:31] microwin7 opened #76 "Erorr build =("
[code]

[2020-09-26 19:32] microwin7 commented on #76
and with windows
[code]

[2020-09-26 19:49] microwin7 commented on #76
[code]

[2020-09-26 19:53] microwin7 commented on #76
I am Russian, it was a little hard for me to understand, but I figured it out. You just had to register npm install)

[2020-09-27 09:18] yushijinhun commented on #76
Did you run `npm install` before building?

[2020-09-27 09:19] #76 closed

[2020-10-11 03:10] #20 closed

[2020-10-15 23:51] nstringham opened #78 "transparent anti-aliasing black borders"
when alpha is set to true with anti-aliasing turned on there are weird black borders
[code]
![image](https://user-images.githubusercontent.com/44071655/96197176-4753a900-0f1f-11eb-9353-68e81eec3920.png)

[2020-10-16 14:23] yushijinhun commented on #78
Using FXAA and transparent backgrounds at the same time is not recommended.(see [readme](https://github.com/bs-community/skinview3d#anti-aliasing))

Does your problem still exist if you set `alpha` to false?

[2020-10-16 16:20] nstringham commented on #78
No only when the background is transparent

Oh I guess I missed that part thanks for pointing that out

[2020-10-16 16:20] #78 closed

[2020-11-21 12:23] 2yf opened #80 "Cape from link isn't working"
If i upload cape normally it works, but if i'm trying to load it from link (ie. imgur (with .png added) it doesn't work

How can I make it to work properly?

(sorry for my english man)

[2020-11-23 14:03] Hacksore commented on #80
@2yf Seems working for me on a codesandbox but I did notice that Imgur was throwing 403's trying to serve from `127.0.0.1`.

If you are developing locally and trying to load an externally referenced Imgur URL access your local from `localhost` it seemed to work for me which means Imgur but has some reason to block 127.0.0.1 requests.

https://codesandbox.io/s/skinview3d-example-imgur-zji2e?file=/s

[2020-11-23 14:03] #80 closed

[2021-02-01 22:44] IPeredero opened #81 "position of body parts"
how to change the pose of the hands and head?

[2021-02-12 09:44] FilipLitwora opened #82 "How to use this with webpack?"
Hi,

How do I use this library with webpack?
I used `npx creacte-next-app` and I'm constantly getting this error
[code]

Code:
[code]

[2021-02-12 09:59] g-plane commented on #82
skinview3d cannot be used at server side, so you may need to configure and make such code be run at browser only.

[2021-02-12 10:15] FilipLitwora commented on #82
Oh, so I wrongly assumed it's problem a with webpack...
Thank you for a quick response !

[2021-02-12 10:15] #82 closed

[2021-02-13 22:45] nstringham opened #83 "why is canvas focusable"
the canvas has `tabindex="0"` but why? it's not keyboard accessible by default

[2021-02-17 17:29] yushijinhun commented on #83
See https://github.com/mrdoob/three.js/commit/fe7aa22c35fe84ebc6bb7b508649cddf4f40761f.

After upgrading three.js to r125 (https://github.com/bs-community/skinview3d/commit/4dcca770cab1735aa81f827f114e7900e50649be), this bug should be fixed.

[2021-02-17 17:29] #83 closed

[2021-02-17 20:19] yushijinhun commented on #81
Just take a look at [the implementation of walking animation](https://github.com/bs-community/skinview3d/blob/4c4acf950164bd6ac6787993a680faf6cc922497/src/animation.ts#L136-L160), and you will know how it's done.

For example:
![image](https://user-images.githubusercontent.com/8373027/108262317-bed06800-719f-11eb-9e0f-166b91ba154c.png)

[2021-02-17 20:19] #81 closed

[2021-05-17 22:46] nstringham opened #84 "[feature request] modelType in constructor"
This is a feature request for a way to set a skin's modelType directly from the SkinViewer constructor inside the SkinViewerOptions object.

### who is requesting this feature and why:
me (Nate Stringham) I am a contributor to [SkyCrypt](https://sky.shiiyu.moe/) and realized that solving SkyCryptWebsite/SkyCrypt#455 would be much easier if skinview3d allowed a model to be passed into the construct

[2021-05-18 14:48] yushijinhun commented on #84
It's in v2.0.1

[2021-05-18 14:48] #84 closed

[2021-05-18 18:54] nstringham commented on #84
Thanks

[2021-05-22 00:25] withdrew opened #85 "Adding DeadMau5 Ears?"

[2021-06-07 17:10] withdrew opened #87 "Add a way to execute a function on “Bad Cape Size”"
Add something like skinViewer.capeTexture.onBadCapeSize or something similar. Since I want to be able to resize the cape texture if the cape size isn’t compatible. I want to be able to do something like skinViewer.capeTexture.onBadCapeSize = function() { something };

[2021-06-07 19:32] Hacksore commented on #87
@withdrew This might help you

https://codesandbox.io/s/skinview3d-bad-cape-v00l7?file=/src/index.js

[2021-06-07 19:47] withdrew commented on #87
this doesnt work for me. I use a api thats on a different domain so idk if that why,

[2021-06-11 01:49] #87 closed

[2021-06-11 02:53] yushijinhun commented on #87
`loadCape` is an async function, so you have to use `await skinViewer.loadCape(...)`.

[code]

[2021-06-11 13:57] skerit commented on #52
It's actually not that hard to make this work on the server-side.
I had to modify the bundle a bit, and added this to the top:
(this basically shims a few objects skinview3d expects to be there)

[code]

And to actually render something, I did this:

[code]

[2021-06-11 14:28] Hacksore commented on #52
@skerit Would you be up for adding a PR to add support for this natively?

[2021-06-12 00:50] g-plane commented on #52
I'll investigate this solution.

[2021-06-12 00:59] withdrew commented on #87
ty

[2021-06-12 09:17] g-plane commented on #52
I've failed to do it:
- Three.js didn't declare it as an ES Module by setting `type` as `module` in `package.json`.
- `skinview3d` assumes we're running code in browser, so we have to inject polyfill with `jsdom`, which isn't easy and bring boilerplate code.
- Currently we have to hack `document.createElement` like this:
[code]
- Normally Node.js will read a file as buffer if we don't specify enco

[2021-07-03 23:42] withdrew opened #88 "Is it possible to flip the character and controls"
Is it possible to flip the character and controls? I'm trying to flip the character and controls for dinnerbone.

[2021-07-06 12:51] Eclipsu opened #89 "NodeError: Must use import to load ES Module"
![image](https://user-images.githubusercontent.com/69201189/124602886-0de61380-de89-11eb-97b2-e44c06330dfa.png)

[2021-07-07 06:41] yushijinhun commented on #89
This is intended. skinview3d is an ES6 module, and you must import it using `import`.

Note that skinview3d is designed to run in a browser, and it does not work on the server side (see #52).

[2021-07-07 06:41] #89 closed

[2021-07-24 17:28] oski646 opened #90 "Wings support"
Hi! I've came up with idea to improve skinview3d. Many custom Minecraft clients added wings mod so it would be awesome to show them on the web like cape or elytra.

Here is Wings mod: https://www.curseforge.com/minecraft/mc-mods/wings
Here is Cosmetic Wings mod: http://www.9minecraft.net/cosmetic-wings-mod/
Here is for example Badlion Client Store where players can buy wings: https://store.badlion

[2021-08-18 01:29] withdrew commented on #88
hey, any updates?

[2021-08-18 12:38] yushijinhun commented on #88
Just rotate the PlayerObject around the Z axis.
[code]

[2021-08-18 18:36] withdrew commented on #88
Thank you! <3

[2021-08-18 19:21] #88 closed

[2021-08-18 20:31] withdrew opened #91 "Make it so you can right click and open the context menu and save image like namemc's skin viewer"
the title ^

[2021-08-18 20:34] Hacksore commented on #91
This sounds like you should implement that behavior in your application as I don't feel it's a library deliverable.

[2021-08-18 20:37] Hacksore commented on #91
Actually, I see what you mean @withdrew

![image](https://user-images.githubusercontent.com/996134/129968890-0da9369b-d4b1-4315-9702-85f3a9cfce13.png)

[2021-08-18 20:47] withdrew commented on #91
yeah thats what im trying to replicate it works with normal canvases but for some reason the skinview3d canvas you can right click on or atleast it doesnt popup the context menu

[2021-08-21 00:33] Hacksore commented on #91
It's mainly caused by this listener being added from the orbit controls.

https://github.com/mrdoob/three.js/blob/44b8fa7b452dd0d291b9b930fdfc5721cb6ebee9/examples/jsm/controls/OrbitControls.js#L1253

Here is an example of how this can be done but just canceling the event propagation.

https://codesandbox.io/s/skinview3d-context-menu-example-hqqbg?file=/src/index.js

[2021-08-21 00:33] #91 closed

[2021-08-21 14:05] withdrew opened #92 "How to get rid of weird jagged lines and weird white dots on character without adding a background and turning off alpha"
title
![57KhnBHV1](https://user-images.githubusercontent.com/52789876/130324274-a31af96f-598d-4aac-bca8-4606d2359286.png)

[2021-08-21 15:19] withdrew commented on #92
happens even when i turn on FXAA

[2021-08-21 15:19] withdrew commented on #92
i also have transparent background

[2021-08-24 17:16] yushijinhun commented on #92
Please read the [Anti-aliasing section in readme](https://github.com/bs-community/skinview3d#anti-aliasing). Make sure you are using `FXAASkinViewer` and have specified an opaque background.

[2021-08-24 18:20] #92 closed

[2021-09-04 18:32] withdrew opened #93 "Is there anyway too fix this?"
I've been trying to solve this problem for a couple weeks. The problem has to due with the skins background being white so it thinks the second layer is white but in game it isn't. I'm trying to make it as accurate as possible to the real game so any help would be great!
![d6de7d886b65ce9d (1)](https://user-images.githubusercontent.com/52789876/132104649-b266417d-25a4-4557-8a10-412da394e9ed.png)
!

[2021-09-07 01:25] yushijinhun commented on #93
The skin you provided can't be displayed properly in game, so this might not be skinview3d's problem.

![image](https://user-images.githubusercontent.com/8373027/132269885-e5f212fd-e511-4de8-b848-5be784e106f5.png)

[2021-09-07 02:13] withdrew commented on #93
hmm weird that doesn’t happen to me

[2021-09-07 05:23] yushijinhun commented on #93
This problem occurs in Minecraft 1.9 and above.

[2021-09-07 09:17] #93 closed

[2021-09-07 09:32] yushijinhun commented on #93
Fixed in v2.0.3.

[2021-09-15 19:40] withdrew opened #94 "Is there a way to detect when skinview3d THREE.js context gets restored after being lost?"
title ^

[2021-09-19 05:24] yushijinhun commented on #94
Take a look at https://github.com/bs-community/skinview3d/commit/7e3c0025e394a1f782e8255518c97e93d8ac00e3.

Now the animation will pause when the context gets lost, until it's restored.

[2021-09-19 15:06] withdrew commented on #94
If the FXAA skinViewer loses context with a set background will the background have to be reset on this new update?

[2021-09-19 15:07] withdrew commented on #94
Cus I have a set background but before this update when it got restored the background was turned back to the default which was black.

[2021-09-19 15:33] yushijinhun commented on #94
I've added a `background` property to solve this problem (https://github.com/bs-community/skinview3d/commit/ff510a9ad0ba3a78c2361adbb4a3979eeb901021). Please try `skinViewer.background = ...`.

[2021-09-19 15:36] withdrew commented on #94
Ok ty!

[2021-09-19 17:46] withdrew commented on #94
Hey, is there anyway to manually cause a loss of context? Also to build it I had to revert the "@types/three" dependency to the last update so that might be a bug.

[2021-09-19 17:49] withdrew commented on #94
pretty much I had to change "@types/three": "^0.131.1" back to "@types/three": "^0.131.0".

[2021-09-19 17:56] withdrew commented on #94
Figured out how to manually cause context loss.

[2021-09-19 18:05] yushijinhun commented on #94
[code]

[2021-09-19 18:05] withdrew commented on #94
kk ty

[2021-09-19 18:06] withdrew commented on #94
also the version thing i can't tell if it's just my end or not

[2021-09-19 18:10] yushijinhun commented on #94
I didn't see anything wrong. The CI build succeeded and has been deployed to https://bs-community.github.io/skinview3d/.

[2021-09-19 18:11] withdrew commented on #94
hmm weird

[2021-09-19 18:11] withdrew commented on #94
I got this error `Error: Unexpected token (Note that you need plugins to import files that are not JavaScript)`.

[2021-09-19 18:12] withdrew commented on #94
might've done something wrong.

[2021-09-19 18:14] withdrew commented on #94
I got it working!

[2021-09-19 18:14] #94 closed

[2021-09-25 13:45] bribes opened #95 "LabyMod cape textures don't map onto cape model correctly"
I know this can be fixed by cropping the texture client-side but I am wondering if this can be added to sv3d itself.
Example Textures that don't map correctly:
- https://api.gapple.pw/cors/labymod/cape/fbc2dc1843cb438ab4e666dbad0e9e8c (IGN: bb)
- https://api.gapple.pw/cors/labymod/cape/a1bc77a1-a243-42d2-9ada-5684756a358c (IGN: 8)
- https://api.gapple.pw/cors/labymod/cape/8e176c5a-c26d-4c14-8efe-7

[2021-09-25 17:05] Hacksore commented on #95
As of now, I think the only supported cape sizes are:

`64x32`, `22x17`, and `46x22`

Source: https://github.com/bs-community/skinview-utils/blob/74fc0b02f8127a052cd8423da392b8570898ab5b/src/process.ts#L157

Demo: https://codesandbox.io/s/skinview3d-bad-cape-size-f1fcb?file=/src/index.js

[2021-09-25 17:06] withdrew commented on #95
Hmm, I hope they add more support then. If possible of course.

[2021-09-25 17:40] stresli opened #96 "Batch Import (plugin)"
the batch import stops on error

[code]

[code]
[code]
[code]

[2021-09-25 21:49] yushijinhun commented on #96
This problem has nothing to do with skinview3d. I will move this issue to [bs-community/blessing-skin-plugins](https://github.com/bs-community/blessing-skin-plugins).

[2021-09-26 14:37] MakkusuOtaku opened #97 "Offset of head rotation"
Looking for a way to rotate the head around it's base instead of it's center.

[2021-09-26 14:59] Hacksore commented on #97
We discussed rotating the head in #53 but was only at the center of the head.

Hopefully we can get a new sandbox created to show how this is achieved.

[2021-09-27 21:33] withdrew opened #99 "Is it possible for the model to have shadows?"
Title ^ or like darker shadows?
What it is:
![download](https://user-images.githubusercontent.com/52789876/134988488-43a4d66d-9761-4ec2-b98f-d91a902e8347.png)
What I want:
![La6h5w1KlAAAAAElFTkSuQmCC](https://user-images.githubusercontent.com/52789876/134988516-eb66c470-19ee-4c65-ab95-740e7f9f7a77.png)

[2021-10-29 20:09] withdrew opened #101 "FlyAnimation not resetting."
the title ^

[2021-10-31 17:14] withdrew commented on #101
I found a work around.

[2021-10-31 17:14] #101 closed

[2021-11-01 19:00] withdrew opened #102 "Add a zoom setting like FOV"
Kinda like skinViewer.zoom = 0;
Idk if this is possible but would be useful

[2021-11-30 16:30] bendgk opened #103 "Tag a new release including the IdleAnimation"
I feel like the IdleAnimation feature that was merged recently (#100) should be tagged for release on NPM.

[2021-12-18 04:56] kotckaxd opened #104 "C++"
is it possible to integrate this in c++?

[2021-12-23 17:12] LinuxTux193 commented on #102
is a really good idea

[2021-12-25 14:49] bribes opened #105 "Nametag"
Option to have a name tag over the player model.

[2022-01-06 20:02] yushijinhun commented on #104
skinview3d is based on three.js, which requires a browser runtime. If you want to embed skinview3d in a desktop application, you have to run it in a webview.

[2022-01-06 20:02] #104 closed

[2022-01-07 17:19] #97 closed

[2022-01-07 20:08] #102 closed

[2022-01-07 20:59] #99 closed

[2022-01-07 22:08] yushijinhun commented on #103
v2.2.0 is released.

[2022-01-07 22:08] #103 closed

[2022-01-07 22:22] withdrew commented on #85
My friend Kai made a version of sv3d to do this but I still think it's a good idea since it's in Minecraft.

[2022-01-08 19:16] yushijinhun commented on #85
In progress.

[2022-01-08 21:02] #85 closed

[2022-02-01 01:46] mpena211 opened #106 "[FR] Image to Skin"
Are there any plans to implement the ability to put in an image and convert it to a skin?

[2022-02-01 03:01] Hacksore commented on #106
@mpena211 Could you please try to expand on what you mean?

This seems out of scope for the project but I'll let you fill in more supporting information.

[2022-02-01 21:08] mpena211 commented on #106
@Hacksore Basically, instead of only being able to use skins that are premade, create a method to pass in an image, and make it into the form of a MC skin.

I believe this involves, cropping the image, resizing the image, and then copying portions of it to a blank white image in the specific locations for the skin template.

[2022-02-01 21:51] Hacksore commented on #106
@mpena211 This is something you'd really want to do in your application. Here is a crude sandbox that shows you can render a canvas with an arbitrary image.

https://codesandbox.io/s/skinview3d-load-arbitrary-image-tfljn?file=/src/index.js

You'd need to take that a step further and allow custom cropping to get exactly what you desire but this should help you get started.

[2022-02-01 22:19] mpena211 commented on #106
@Hacksore Gotcha, thanks for the info and the headstart!

[2022-02-01 22:19] #106 closed

[2022-02-09 07:10] g-plane opened #107 "Bindings of skinview3d"
I'm going to create some packages which are bindings of skinview3d for some popular front-end frameworks/libraries. These packages will provide components and accept properties then pass them to skinview3d.

Currently these frameworks are considered:

- React
- Preact
- Svelte
- Vue.js 3

The frameworks below will **not** be supported:

- Angular
- Vue.js 2

Additionally, I'm going to create a spe

[2022-02-09 12:53] Hacksore commented on #107
@g-plane I wouldn't mind if we move react-skinview3d to this org and give it a more concise and extensible API.

Don't really have much experience with creating ng/Vue libriees though.

[2022-02-09 13:39] g-plane commented on #107
It can be a breaking change if API of `react-skinview3d` changed hugely, which may confuse users.

[2022-02-09 16:01] Hacksore commented on #107
I'd say confusion is possible but that's what major versions are for 😅.

[2022-02-10 03:17] g-plane commented on #107
I may put all binding packages into a monorepo. Do we have a nice way to migrate that?

[2022-02-11 07:47] aion1998 opened #108 "有办法实现在线编辑和导出功能吗 Is there a way to achieve online editing and exporting functions?"
就像这个（like this）： [在线编辑导出](https://www.minecraftskins.net/skineditor)

！就是一个思路，之前我一直在研究怎么弄，到处找相关信息，最后找到了这里，所以这算是我的一个小提议！

或者能不能提供我一些思路，来做上面那个网站一样的功能

Google Robot Translate ：

! It's just an idea. I have been researching how to do it before, looking for relevant information everywhere, and finally found it here, so this is a small proposal of mine!

Or can you give me some ideas to do the same func

[2022-02-11 08:34] aion1998 commented on #108
因为那个网站找不到相关的源码或者实现技术，我是看到这个也能实现预览所以想着顺着这个问问思路啥的

[2022-02-14 02:40] bribes opened #109 "Head Bobbing change"
Make Head Bobbing a separate setting from the animations for people who don’t want head bobbing.

[2022-02-14 13:05] Hacksore commented on #107
Not really but you can take the source of mine.

What monorepo tool do you plan on using?

[2022-02-15 01:34] g-plane commented on #107
I'd like that the npm organization name can be "skinview3d", and they will be "@skinview3d/react" and "@skinview3d/vue", etc.

[2022-02-22 02:48] #108 closed

[2022-02-22 22:14] bribes commented on #95
Is there any timeline to when more cape sizes will be supported?

[2022-02-22 22:15] bribes commented on #95
As of now I have to down size my capes to 46x22 to avoid errors.

[2022-02-23 13:05] Nisutec opened #110 "Armor Rendering"
Hello,
Is it possible to implement armor rendering into this project to make it possible to give the player a leather, gold or other armor parts. It would also awesome if it is possible to define custom armor textures for example using armor textures from a resource pack.

[2022-02-23 19:02] bribes commented on #110
This would be cool!

[2022-03-09 14:30] TheKodeToad opened #111 "FXAA Broken in Chrome and Chromium-based Browsers"
I am using this to add a skin menu to my Minecraft launcher.

Without FXAA:
![Screenshot from 2022-03-09 12-19-20](https://user-images.githubusercontent.com/57493648/157461572-ff88342b-1586-41a2-947e-a50e01c6a848.png)

With FXAA:
![Screenshot from 2022-03-09 12-18-39](https://user-images.githubusercontent.com/57493648/157461577-2ee6feca-b892-4472-965d-d7cb358306c0.png)

Doesn't seem to occur in Fi

[2022-03-10 08:34] TheKodeToad commented on #109
I nearly suggested this in a separate issue. The head bobbing may look good in some situations, but it can look a bit out of place.

You can use this lambda expression as a temporary workaround:
[code]
Just use it in place of `skinview3d.WalkingAnimation`.

[2022-03-17 15:57] james090500 opened #112 "NPM version is different from github"
The version on https://www.npmjs.com/package/skinview3d seems to be missing the loadEars function on this github? Yet version seems to both be 2.2.1.

Can be seen here if you search for "loadEars" https://unpkg.com/skinview3d@2.2.1/libs/viewer.js

Can we get a new release published?

[2022-03-24 20:08] TheMaster1810 commented on #52
@skerit could you perhaps share the bundle? I can't seem to get it to work

[2022-03-31 00:04] bribes opened #113 "Background Removal when saving image?"
If you want to save the render as a image that has a transparent background but the skinViewer is FXAA and has a background maybe add a way to switch viewers or remove the background some how? I want the actual render to be FXAA so its nice and smooth but when right clicking and saving the image for the background to be transparent without needing to use photo editing tools. Is there maybe a work

[2022-06-24 13:04] ONE1SIDE opened #114 "Rendering problems on apple devices."
This issue is related to the specific iOS version "15.5".
Artfacts appear in any browser on Apple devices.
This is most likely due to metal support on this version of ios, it is definitely related to SkinViewer and FXAASkinViewer.

We haven't had a chance to test with developer tools, but there is a list of devices + ios version:

iphone 11 - ios 15.5
iphone 12 - ios 15.5
iphone Xr - ios 15.5
ipho

[2022-06-24 18:43] #114 closed

[2022-07-18 18:49] james090500 commented on #112
Is there any update for this? Really want to start using the native ear function :(

[2022-07-19 09:10] yushijinhun commented on #112
Sorry for the slow response. I've released v2.3.0-alpha.1.

[2022-07-19 09:10] #112 closed

[2022-07-20 19:39] yushijinhun commented on #113
It seems that three.js now supports transparent background in FXAA (https://github.com/mrdoob/three.js/commit/d4a86dc53fb5057eecae4c9dea46685511e15864).

[2022-07-20 20:00] yushijinhun commented on #113
Fixed in https://github.com/bs-community/skinview3d/commit/d702b7ff4d5660aac43af4cbd427cf4010c304f1. You can set the background to transparent using `skinViewer.background = null;`.

[2022-07-20 20:00] #113 closed

[2022-07-22 14:03] #111 closed

[2022-08-04 11:38] yushijinhun commented on #95
@bribes Does LabyMod have any documentation on its cape format? I found that [LabyMod Cloaks on its website](https://laby.net/cloaks) are all 22x17 in size.

[2022-08-04 12:43] bribes commented on #95
Oh it’s seems like they actually resize and compress the files down to 22x17 after uploading.

[2022-08-04 12:43] #95 closed

[2022-08-07 13:59] yushijinhun commented on #105
Implemented in v3.0.0-alpha.1.

[2022-08-07 13:59] #105 closed

[2022-08-07 14:01] yushijinhun commented on #109
Implemented in v3.0.0-alpha.1. You can now use:
[code]

[2022-08-07 14:01] #109 closed

[2022-08-22 23:26] bribes opened #117 "Nametag Issues"
When wearing a ear the name tag position doesn't move up this can be done manually but yeah. Also animations don't move the name tag. Ex. Flying Animation

[2022-08-28 00:27] bribes commented on #91
Hey this solution no longer works.

[2022-08-28 00:35] bribes opened #118 "Saving the skinview3d canvas as a image by right-clicking"
Title ^

[2022-08-28 16:53] Hacksore commented on #118
Still possible, here is an example.

https://codesandbox.io/s/skinview3d-context-menu-example-3-x-50lll5

[2022-08-28 16:53] #118 closed

[2022-08-30 01:47] bribes opened #119 "Hardware Acceleration Issue with sv3d"
If you have Hardware Acceleration off then skinview3d will cause your CPU usage to go to 100% and if you turn it on then it'll go to normal CPU usage this is not normal with other three.js programs.

[2022-08-31 12:51] Hacksore commented on #119
@bribes could you please include some benchmarks and a code example to reproduce?

My guess it's related to the hardware you're using but I can try on my systems.

[2022-08-31 18:02] bribes commented on #119
You can just test turning on and off hardware acceleration on your browser here. https://bs-community.github.io/skinview3d/ and check your task manager.

[2022-09-01 09:22] megazvezda opened #120 "Is there a way to make presets for model position?"
Is there a way to make presets for model position, so it appears rotated as I set it?

[2022-09-07 15:24] megazvezda commented on #120
still need help

[2022-09-08 14:55] Hacksore commented on #117
Picture for reference of the issue.
![image](https://user-images.githubusercontent.com/996134/189155330-cc1048fd-1c5e-46b8-b18d-7a60dc38b037.png)

[2022-09-09 15:48] megazvezda commented on #120
@Hacksore Not really a pose, but a camera's perspective view on the model

[2022-09-09 18:03] Hacksore commented on #120
@megazvezda You have access to move the camera, here is an example.

https://github.com/Hacksore/three-js-extension-icon/blob/primary/src/background/index.js#L23

[2022-09-09 18:14] megazvezda commented on #120
Thank you

[2022-09-10 01:09] #120 closed

[2022-09-10 20:21] bribes commented on #119
Any updates?

[2022-09-11 16:05] Hacksore commented on #119
@bribes, you will probably get more traction on this issue when you include at least some of the following.

- benchmarks
- browsers tested
- hardware specs

[2022-09-11 17:06] bribes commented on #119
Bruh ok but this is a issue for like all browsers and hardware and like everything if you turn off hardware acceleration but sure

[2022-09-25 14:35] bribes opened #122 "Start Rotation ?"
I have been trying to figure out how to make the player start rotated to the side so its like if the user rotated the player to the side manually but its automatic but I have been unable to do it. Any help? Since when I rotate the player wrapper it messes up the controls and when I rotate the camera it bugs out. For example, when I do `skinViewer.camera.rotateY(0.1)` it just moves to the right not

[2022-09-25 15:44] bribes commented on #122
thought I found a solution but I didn't

[2022-09-27 00:40] #122 closed

[2022-10-01 23:38] bribes opened #123 "Camera Rotation Question"
How do I make the camera automatically set to a position and rotation. Like a preset camera angle.

[2022-10-10 02:15] #123 closed

[2022-10-21 10:32] DmytroDyachkov opened #124 "animation.progress = 0 error"
Console: https://i.imgur.com/pINIrJd.png

`skin.html:13 Unchecked runtime.lastError: The message port closed before a response was received.
skin.html:13 Unchecked runtime.lastError: The message port closed before a response was received.
skin.html:13 Unchecked runtime.lastError: The message port closed before a response was received.
skin.html:13 Unchecked runtime.lastError: The message port clos

[2022-10-23 15:48] Hacksore opened #125 "Using getImageData with the willReadFrequently attribute"
Should we consider allowing the use of `willReadFrequently` to suppress this warning?

![image](https://user-images.githubusercontent.com/996134/197398237-d7783e78-5148-4d1f-b802-5e87954fd3f3.png)

[code]

[2022-10-28 11:02] bribes commented on #125
Seems good!

[2022-11-28 07:45] tcrch commented on #119
these issues are still present